{% extends "dm/base.html" %}
{% load staticfiles %}
{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="{% static "dm/js/npc.js" %}"></script>
<script src="{% static "dm/js/dm.js" %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div id="builder" class="span12">
            <div class="page-header">
              <h2>NPC Creator</h2>
            </div>
            FROM_TEMPLATE = CHOICE FIELD INCLUDES NEW OPTION AT TOP
            AJAX LOAD FIELDS BASED ON FROM_TEMPLATE CHOICE.
       </div>
   </div>
</div>
{% csrf_token %}
{% endblock %}