{% extends "dm/base.html" %}
{% load staticfiles %}
{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="{% static "dm/js/dm.js" %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div id="overview" class="span6">
            <h3>Characters</h3>
            <table id="pc-overview" class="table table-striped table-bordered table-condensed table-hover" party-id="{{ party.id }}">
                <thead>
                    <tr>
                        <th>Initiative</th>
                        <th>Name</th>
                        <th>Health</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in party.characters.all %}
                    <tr id="pc-{{ c.id }}" class="pc-character-overview" pc-id="{{ c.id }}">
                        <td id="pc-init-{{ c.id }}">{{ c.get_abilities.dex.modifier_half_level }}</td>
                        <td id="pc-name-{{ c.id }}">{{ c.name }}</td>
                        <td id="pc-health-{{ c.id }}">
                            <span id="hp-text-{{ c.id }}">{{ c.hit_points }}</span>
                            /
                            <span id="max-hp-text-{{ c.id }}">{{ c.max_hit_points }}</span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h3>NPCs</h3>
            <table id="npc-overview" class="table table-striped table-bordered table-condensed table-hover" encounter-id="{{ encounter.id }}">
                <thead>
                    <tr>
                        <th>Initiative</th>
                        <th>Symbol</th>
                        <th>Name</th>
                        <th>Health</th>
                    </tr>
                </thead>
                <tbody>
                    {% for npc in encounter.npcs.all.select_subclasses %}
                    <tr id="npc-{{ npc.id }}" class="npc-overview" npc-id="{{ npc.id }}">
                        <td id="npc-init-{{ npc.id }}"> {{ npc.get_abilities.dex.modifier_half_level }}</td>
                        <td id="npc-symbol-{{ npc.id }}"></td>
                        <td id="npc-name-{{ npc.id }}">{{ npc.npc_type.name }}</td>
                        <td id="npc-health-{{ npc.id }}">
                            <span id="npc-hp-text-{{ npc.id }}">{{ npc.hit_points }}</span>
                            /
                            <span id="npc-max-hp-text-{{ npc.id }}">{{ npc.npc_type.max_hit_points }}</span>
                        </td>
                   </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="detail" class="span6">
            <div id="pc-detail">
                <h3>
                    <span id="pc-detail-name"></span>
                    <small>Level <span id="pc-detail-level-text"></span> <span id="pc-detail-flavor"></span></small>
                </h3>
                <div id="pc-detail-toolbar" class="btn-group" data-toggle="buttons-radio">
                    <button id="pc-stats-btn" class="btn active" title="Stats">Stats</button>
                    <button id="pc-powers-btn" class="btn" title="Powers">Powers</button>
                    <button id="pc-feats-btn" class="btn" title="Feats">Feats</button>
                    <button id="pc-equipment-btn" class="btn" title="Equipment">Equipment</button>
                    <button id="pc-dm-btn" class="btn" title="Dungeon Master">DM</button>
                </div>
                <div id="pc-detail-stats" class="pc-detail-body">
                    <div id="pc-detail-stats-defenses">
                        <div class="row">
                            <div id="pc-detail-ac" class="span6">
                                <span class="pc-detail-defense-label">AC: </span>
                                <span class="pc-detail-defense-value"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div id="pc-detail-fort" class="span2">
                                <span class="pc-detail-defense-label">Fortitude: </span>
                                <span class="pc-detail-defense-value"></span>
                            </div>
                            <div id="pc-detail-ref" class="span2">
                                <span class="pc-detail-defense-label">Reflex: </span>
                                <span class="pc-detail-defense-value"></span>
                            </div>
                            <div id="pc-detail-will" class="span2">
                                <span class="pc-detail-defense-label">Will: </span>
                                <span class="pc-detail-defense-value"></span>
                            </div>
                        </div>
                    </div>
                    <div id="pc-detail-stats-abilities">
                        <div class="row">
                            <div id="pc-detail-str" class="span2">
                                <span class="pc-detail-ability-label">Str: </span>
                                <span class="pc-detail-ability-check"></span> 
                            </div>
                            <div id="pc-detail-dex" class="span2">
                                <span class="pc-detail-ability-label">Dex: </span>
                                <span class="pc-detail-ability-check"></span> 
                            </div>
                            <div id="pc-detail-wis" class="span2">
                                <span class="pc-detail-ability-label">Wis: </span>
                                <span class="pc-detail-ability-check"></span> 
                            </div>
                        </div>
                        <div class="row">
                            <div id="pc-detail-con" class="span2">
                                <span class="pc-detail-ability-label">Con: </span>
                                <span class="pc-detail-ability-check"></span> 
                            </div>
                            <div id="pc-detail-int" class="span2">
                                <span class="pc-detail-ability-label">Int: </span>
                                <span class="pc-detail-ability-check"></span> 
                            </div>
                            <div id="pc-detail-cha" class="span2">
                                <span class="pc-detail-ability-label">Cha: </span>
                                <span class="pc-detail-ability-check"></span> 
                            </div>
                        </div>
                    </div>
                </div>
                <div id="pc-detail-dm" class="pc-detail-body">
                    <div class="input-append">
                      <input class="span2" id="pc-damage" type="text" placeholder="Damage">
                      <button id="pc-damage-btn" class="btn" type="button" tabindex="-1">Damage</button>
                    </div>
                    <div class="input-append">
                      <input class="span2" id="pc-heal" type="text" placeholder="Heal">
                      <button id="pc-heal-btn" class="btn" type="button" tabindex="-1">Heal</button>
                    </div>
                    <div class="input-append">
                      <input class="span2" id="pc-init" type="text" placeholder="Initiative">
                      <button class="btn" id="pc-init-btn" type="button" tabindex="-1">Set</button>
                    </div>
                </div>
            </div>
            <div id="npc-detail">
            </div>
        </div>
    </div>
</div>

<div id="initiative-modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="hp-modal-label" aria-hidden="true">
    <div class="modal-header">
        <h3 id="hp-modal-label">Modal header</h3>
    </div>
    <form id="pc-initiative-form" class="modal-form">
    <div class="modal-body">
        <input id="pc-initiative-input" type="text">
    </div>
    <div class="modal-footer form-actions">
        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button id="initiative-modal-save" type="submit" class="btn btn-primary">Save</button>
    </div>
    </form>
</div>

{% csrf_token %}
{% endblock %}