{% extends "dm/base.html" %}
{% load staticfiles %}
{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="{% static "dm/js/dm.js" %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="btn-toolbar">
        <div class="btn-group">
            <button id="hp-btn-party" class="btn" party-id="{{ party.id }}">Modify HP</button>
            <button class="btn">Modify XP</button>
            <button class="btn">KILL ALL HUMANS</button>
        </div>
    </div>
    <ul id="party" class="thumbnails" party-id="{{ party.id }}">
    {% for c in party.characters.all %}
        <li id="character-{{ c.id }}" class="character-block span4" character-id="{{ c.id }}">
            <div class="thumbnail">
                <h3>{{ c.name }}<small class="character-header-info">Level {{ c.current_level.number }} {{ c.race.name }} {{ c.class_type.name }}</small></h3>
                HP: <span id="hp-text-{{ c.id }}">{{ c.hit_points }}</span>
                <div id="hp-bar-parent-{{ c.id }}" class="progress progress-success">
                    <div id="hp-bar-{{ c.id }}" class="bar" style="width: 100%;"></div>
                </div>
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <button id="hp-btn-{{ c.id }}" class="hp-btn btn" character-id="{{ c.id}}">HP</button>
                        <button class="xp-btn btn">XP</button>
                        <button class="curr-btn btn">Currency</button>
                    <div>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
    <div id="hp-modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="hp-modal-label" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="hp-modal-label">Modal header</h3>
        </div>
        <div class="modal-body">
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend input-append">
                            <button id="hp-min-btn" class="btn" type="button">Min</button>
                            <input id="hp-input" class="span2" id="appendedPrependedInput" type="text">
                            <button id="hp-max-btn" class="btn" type="button">Max</button>
                        </div>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button id="hp-modal-save" class="btn btn-primary">Save changes</button>
        </div>
    </div>
    {% csrf_token %}
</div>
{% endblock %}
