{% extends "dm/base.html" %}
{% load staticfiles %}
{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script>
$(function() {
    $('#hp-modal').modal({
        show: false,
    });

    $('#xp-modal').modal({
        show: false,
    });

    update_party($('#party').attr('party-id'));

    $('.hp-btn').click(function(){
        var cid = $(this).attr('character-id');
        $('#hp-modal-save').removeAttr('party-id');
        $('#hp-modal-save').attr('character-id', cid);
        $.get('/DnD/api/v1/character/' + cid + '/','',
            function(data) {
                $('#hp-modal-label').text(data.name);
                $('#hp-input').val(data.hit_points);
                $('#hp-modal').modal('show');
        }, "json");
    });

    $('#hp-btn-party').click(function() {
        var pid = $('#hp-btn-party').attr('party-id');
        $('#hp-modal-save').removeAttr('character-id');
        $('#hp-modal-save').attr('party-id', pid);

        $.get('/dm/api/v1/party/' + pid + '/','',
            function(data) {
                $('#hp-modal-label').text(data.name);
                $('#hp-input').val('');
                $('#hp-modal').modal('show');
            }, "json");
    });

    $('#hp-max-btn').click(function() {
        var cid = $('#hp-modal-save').attr('character-id');
        get_max_hp('/DnD/api/v1/character/' + cid + '/');
    });


    $('#hp-modal-save').click(function() {
        var new_value = $('#hp-input').val();
        if ($('#hp-modal-save').attr('party-id') == undefined) {
            var cid = $('#hp-modal-save').attr('character-id');
            set_hp('/DnD/api/v1/character/' + cid + '/', new_value);
        } else {
            var pid = $('#hp-modal-save').attr('party-id');
            $.get('/dm/api/v1/party/' + pid + '/', '',
                function(data) {
                    _.each(data.characters, function(element) {
                        set_hp(element, new_value);
                    });
            }, "json");
        }
        $('#hp-modal').modal('hide');
    });
});

function update_party(pid) {
    $.get('/dm/api/v1/party/' + pid + '/', '',
        function(data) {
            _.each(data.characters, function(element) {
                update_character(element);
            });
    }, "json");
}

function get_max_hp(resource_uri) {
    $.get(resource_uri,'',
        function(data) {
            $('#hp-input').val(data.max_hit_points);
    }, "json");
}

function set_hp(resource_uri, hp) {
    $.ajax({
        url: resource_uri,
        type: 'PATCH',
        contentType: 'application/json',
        data: JSON.stringify({ "hit_points": hp }),
        dataType: 'json',
        processData: false,
        beforeSend: function(jqXHR, settings) {
            jqXHR.setRequestHeader('X-CSRFToken', $('input[name=csrfmiddlewaretoken]').val());
        },
        success: function(data, textStatus, jqXHR) {
            update_character(resource_uri);
        },
    });
}

function update_character(resource_uri) {
    $.get(resource_uri,'',
        function(data) {
            console.log(data);
            var cid = data.id;
            var hit_points = data.hit_points;
            var max_hit_points = data.max_hit_points;
            var hp_percentage = ((hit_points / max_hit_points) * 100);
            $('#hp-text-' + cid).text(hit_points);

            if (hp_percentage <= 30) {
                $('#hp-bar-parent-' + cid).removeClass("progress-success progress-warning").addClass("progress-danger");
            }
            else if (hp_percentage > 30 && hp_percentage <= 50) {
                $('#hp-bar-parent-' + cid).removeClass("progress-success progress-danger").addClass("progress-warning");
            }
            else {
                $('#hp-bar-parent-' + cid).removeClass("progress-warning progress-danger").addClass("progress-success");
            }
            
            $('#hp-bar-' + cid).css("width", hp_percentage + "%");
    }, "json");
}
</script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="btn-toolbar">
        <div class="btn-group">
            <button id="hp-btn-party" class="btn" party-id="{{ party.id }}">Modify HP</button>
            <button class="btn">Modify XP</button>
            <button class="btn">KILL ALL HUMANS</button>
        </div>
    </div>
    <ul id="party" class="thumbnails" party-id="{{ party.id }}">
    {% for c in party.characters.all %}
        <li id="character-{{ c.id }}" class="character-block span4" character-id="{{ c.id }}">
            <div class="thumbnail">
                <h3>{{ c.name }}<small class="character-header-info">Level {{ c.current_level.number }} {{ c.race.name }} {{ c.class_type.name }}</small></h3>
                HP: <span id="hp-text-{{ c.id }}">{{ c.hit_points }}</span>
                <div id="hp-bar-parent-{{ c.id }}" class="progress progress-success">
                    <div id="hp-bar-{{ c.id }}" class="bar" style="width: 100%;"></div>
                </div>
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <button id="hp-btn-{{ c.id }}" class="hp-btn btn" character-id="{{ c.id}}">HP</button>
                        <button class="xp-btn btn">XP</button>
                        <button class="curr-btn btn">Currency</button>
                    <div>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
    <div id="hp-modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="hp-modal-label" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="hp-modal-label">Modal header</h3>
        </div>
        <div class="modal-body">
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend input-append">
                            <button id="hp-min-btn" class="btn" type="button">Min</button>
                            <input id="hp-input" class="span2" id="appendedPrependedInput" type="text">
                            <button id="hp-max-btn" class="btn" type="button">Max</button>
                        </div>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button id="hp-modal-save" class="btn btn-primary">Save changes</button>
        </div>
    </div>
    {% csrf_token %}
</div>
{% endblock %}
