body {
	margin: 0;
	padding: 0;
}
#encounter-container {
	margin-top: 20px;
}
#encounter-notes {
	resize: none;
	padding-right: 25px;
}

.dead {
	background-color: #ec9191 !important;
}

.pc-detail-body, .npc-detail-body {
	margin-top: 10px;
}

.npc-card-body {
	padding: 4px;
	background-color: #e6e4cf;
}
.npc-card-line {
	background-color: #c6c6af;
}

.npc-header {
	padding: 4px;
	background-color: #46532d;
	color: white;
}
.npc-name-line {
	font-size: 1.3em;
}
.npc-name {
}
.npc-level {}
.npc-origin-lie {}
.npc-origin {}
.npc-xp-reward {}
.npc-senses-line {}
.npc-initiative {}
.npc-senses {}
.npc-health-line {}
.npc-defense-line {}
.npc-speed-line {}
.npc-power {
	padding-bottom: 3px;
}
#npc-detail-stats-abilities {}
.npc-detail-ability-label {}
.npc-detail-ability-check {}


.party-dm-character-block {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 5px;
	padding: 4px;
	background-color: #e6e6e6;

}
.dm-block-selection {
	background-color: #5dbfdc;
}

#note-container {
	position: relative;
}

#save-notes-button {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 20;
}