body {
	margin: 0;
	padding: 0;
}

.dead {
	background-color: #ec9191 !important;
}

.pc-detail-body, .npc-detail-body {
	margin-top: 10px;
}

.npc-card-body {
	padding: 4px;
	background-color: #e6e4cf;
}
.npc-card-line {
	background-color: #c6c6af;
}

.npc-header {
	padding: 4px;
	background-color: #46532d;
	color: white;
}
.npc-name-line {
	font-size: 1.3em;
}
.npc-name {
}
.npc-level {}
.npc-origin-lie {}
.npc-origin {}
.npc-xp-reward {}
.npc-senses-line {}
.npc-initiative {}
.npc-senses {}
.npc-health-line {}
.npc-defense-line {}
.npc-speed-line {}
.npc-power {
	padding-bottom: 3px;
}
#npc-detail-stats-abilities {}
.npc-detail-ability-label {}
.npc-detail-ability-check {}